@import 'components/all';
@import 'base/all';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: $main-red;

    .main-content {
        display: grid;
        grid-template-columns: 220px auto;
        grid-template-rows: 65px auto;
        background-color: white;
        width: 740px;
        height: 500px;
        border-radius: 30px;

        .search {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }

        .topics {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        .tasks {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
    }
}
