.tasks {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    ul {
        list-style: none;
        margin-left: 20px;

        .item {
            margin-top: 20px;
            margin-left: 20px;
            @extend %roboto-light;

            span {
                margin-left: 10px;
            }

            .regular-checkbox {
                -webkit-appearance: none;
            	background-color: #fafafa;
            	border: 1px solid $font-gray;
            	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
            	padding: 9px;
            	border-radius: 5px;
                display: inline-block;
            	position: relative;

                &:active,
                &:checked:active {
                    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
                }

                &:checked {
                	background-color: #e9ecee;
                	border: 1px solid #adb8c0;
                	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
                	color: #99a1a7;
                }

                &:checked:after {
                    content: '\2714';
                	font-size: 14px;
                	position: absolute;
                	top: 0px;
                	left: 3px;
                	color: $font-gray;
                }
            }
        }
    }

    input[type=text] {
        border: none;
        width: 100%;
        margin-top: 20px;
        font-size: 18px;
        color: $font-gray;

        &::placeholder {
            color: $low-gray;
            text-align: center;
        }
    }
}
