.topics {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    ul {
        @extend %roboto-regular;
        list-style: none;

        li {
            margin-top: 20px;
        }
    }

    input[type=text] {
        border: none;
        width: 100%;
        margin-top: 20px;
        font-size: 18px;
        color: $font-gray;
        outline: none;
        text-indent: 20px;

        &::placeholder {
            color: $low-gray;
            text-align: center;
        }
    }
}
