@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

$bg-red: #D90429;
$close-red: #ff6059;
$close-green: #28ca42;
$close-yellow: #ffc02f;
$font-gray: #1B1B1E;
$low-gray: #E0E0E0;

%roboto-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: $font-gray;
}

%roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: $font-gray;
    font-size: 20px;
}
